@charset   "UTF-8";
 
* {
  margin: 0;
  padding: 0 ;
  list-style: none;
  text-decoration: none;
  font-family: 'M PLUS 1p', sans-serif;
}
 
#wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
 
header {
  background: #5e79a1;
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

.header a:hover, a:visited {
  color: #FFF;
}

#navBtn:checked ~ .main-menu {
  height: 26vh;
}

#navBtn {
  display: none;
}

label {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  text-align: center;
  color: #FFF;
}

.open {
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 2px;
}

/*humburger button*/

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #FFF;
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/*close button*/
#navBtn:checked + .open {
  background: #5e79a1;
}

#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}


.main-menu {
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 0px;

  overflow: hidden;
  background-color: rgba(163,180,211,.8);
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
  transition: height .5s;
}
 
.main-menu ul li {
  height: 2.90rem;
  border-bottom: dotted 1px #AAA;
  text-align: center;
}
 
.main-menu ul li a {
  color: #FFF;
  display: block;
  padding: 0.75rem;
  text-align: center;
}
 
.main-menu ul li a:hover {
  background: #456779;
}
 
section {
  flex: 3;
  padding: 20px;
}
 
article {
  padding: 3rem;
  margin-bottom: 20px;  
  margin-left: auto;
  margin-right: auto;
}

article p {
  text-align: justify;
  color: #555;
}

article a {
  color: #5e79a1;
}

.top a {
  color: #5e79a1;
}

article img {
  width: 100%;}
 
/* aside {
  background: #e8ecef;
  flex: 1;
} */

footer   {
  background: #5e79a1;
  color: #FFF;
  padding: 20px;
  text-align: center;
}
@media all and (min-width: 600px) {

    .main-menu ul {
      display: flex;
      justify-content: center;
    }
  
    .main-menu ul li {
      text-align: left;
    }
  
    main {
      display: flex;
      flex-direction: row-reverse;
    }
  
  }
  
  @media all and (min-width: 1025px) {
  
    #wrap {
      width: 84%;
      max-width: 1280px;
    }
  
  }